body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 100px;
    
}

div {
    margin: 5px 0;
    
}
star{
    margin: 5px 0;
}
branch{
    margin: 5px 0;

}
star2{
    margin: 5px 0;
}